.mattoolbar {
    background-color: #A03037;
    width: 100%;
    z-index: 1;
}

.imgbook {
    margin-left: -18px;
}

.text {
    color: white;
    margin-left: 10px;
    margin-top: 14px;
    opacity: 0.9;
    cursor: pointer;

}

h5 {
    margin-bottom: 10px;

}

.book {
    height: 40px;
    width: 40px;
    margin-top: 9px;
    // border-radius: 20px;
    margin-left: 200px;
    border: none;
    cursor: pointer;

}

.searchbar {
    margin-left: 60px;
    width: 33%;
    height: 40px;
}

.imgsearch {
    // border: 1px solid green;
    opacity: 0.6;
    height: 24px;
    width: 24px;
    position: relative;
    top: -6px;

}

.searchtext {
    height: 10px;
    border: none;
    outline: none;

}

.profile {
    margin-left: 270px;
    margin-top: 28px;
    cursor: pointer;
}

.imgpersonwhite {
    margin-left: -2px;
    // margin-top: 2px;

}

.cart {
    margin-left: 40px;
    margin-top: 28px;
    cursor: pointer;
}



p {
    color: white;
    opacity: 0.9;
    font-size: x-small;
    margin-top: -5px;
}

