<div class="section" fxLayout="column">

    <mat-card class="wishlist" fxLayoutAlign="start center">
        <span>My Wishlist </span>
    </mat-card>

    <mat-card class="book" fxLayout="row" fxLayoutAlign="start center"  *ngFor="let book of wishlistitem">

        <div fxLayout="column" fxLayoutGap="20px">
            <div class="cartbook" fxLayout="row" fxLayoutAlign="start center">

                <div>
                    <div class="image" fxLayoutAlign="start center">
                        <img class="bookImage" src="../../../assets/41oWBl4JBIL._SX404_BO1,204,203,200_.jpg">
                    </div>
                </div>

                <div class="entirebook" fxLayout="column" fxLayout.sm="column">

                    <div class="bookname">
                        {{book.product_id.bookName}}
                    </div>
                    <div class="author">
                        by {{book.product_id.author}}
                    </div>
                    <div class="price" fxLayout="row" fxLayoutGap="10px">
                        <div class="discountprice">
                            Rs.{{book.product_id.discountPrice}}
                        </div>
                        <div class="originalprice">
                            <del> Rs.{{book.product_id.price}}</del>
                        </div>
                    </div>

                </div>


            </div>

        </div>

    </mat-card>

</div>


