.card{
    background-color: darkgray;
    width: 100%;
    height: 100%;
}

.cardI{
    background-color: #F5F5F5;
    height: 410px;
    width: 330px;
    border-radius: 25px;
    display: flex;

}

.img {
    
    height: 230px;
    width: 230px;
    border-radius: 130px;
    margin-left: 40px;
    margin-top: 40px;
}

.text {
   

    font-size: 14px;
    font-family: Roboto, sans-serif;
    letter-spacing: 0px;
    color: #0A0102;
    font-weight: 500;
    opacity: 1;
    height: 60px;
    width: 240px;
    margin-top: 310px;
    margin-right: 40px;
    display: flex;
    position: relative;
    right: 190px;

}

.cardII{
    background-color: #F5F5F5;
    height: 480px;
    width: 340px;
    display: flex;
    position: relative;
    right: 3%;
}

.login {
   
    margin-top: 15px;
    margin-bottom: 430px;
    position: relative;
    left: 35px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #878787;
    cursor: pointer;

}

.register {
   
    margin-top: 15px;
    margin-bottom: 310px;
    display: flex;
    position: relative;
    left: 180px;
    bottom: 60px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #878787;
    cursor: pointer;

}

.email {
    position: relative;
    right: 35%;
}


.mat-form-field {
   
    width: 275px;
}

.password {
   
    height: 18%;
}

.forgotbutton {
   
    font-size: 14px;
    padding: 6px 8px;
    margin-top: -8%;
}

.button {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    color: grey;
    background-color: transparent;
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    cursor: pointer;
    border: none;
    margin-left: 120px;
    padding-left: 16px;
    opacity: 0.6;
}

.loginbutton {
    width: 275px;
    background-color: brown;
    color: white;
    position: relative;
    margin-top: 10px;

}

.or {
    
    margin-top: 30px;
}

h2 {
    
    padding-left: 120px;
}

.mediabutton {
  
    margin-top: 20px;
}

.facebookbutton {
    
    width: 130px;
}

.googlebutton {
    
    border: 1px solid gainsboro;
    width: 122px;
    background-color: transparent;
}