.Card{
    background-color: gray;
    width: 100%;
    height: 100%;
}

.UICard {
    background-color: #F5F5F5;
    height: 410px;
    width: 330px;
    border-radius: 25px;
    display: flex;

}

.img {
  
    height: 230px;
    width: 230px;
    border-radius: 130px;
    margin-left: 40px;
    margin-top: 40px;
}

.text {
   
    font-size: 14px;
    font-family: Roboto, sans-serif;
    letter-spacing: 0px;
    color: #0A0102;
    font-weight: 500;
    opacity: 1;
    height: 60px;
    width: 240px;
    margin-top: 310px;
    margin-right: 40px;
    display: flex;
    position: relative;
    right: 190px;

}

.UICardII{
    background-color: #F5F5F5;
    height: 480px;
    width: 340px;
    display: flex;
    position: relative;
    right: 3%;
}

.login {
   
    margin-top: 15px;
    margin-bottom: 430px;
    position: relative;
    left: 35px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #878787;
    cursor: pointer;

}

.register{
    
    margin-top: 15px;
    margin-bottom: 310px;
    display: flex;
    position: relative;
    left: 180px;
    bottom: 60px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #878787;
    cursor: pointer;

}


.fullname {

    height: 80%;
    position: relative;
    right: 35%;
    margin-top: 20%;


}

.mat-form-field {

    width: 275px;
}

.registerbutton {
    width: 275px;
    background-color: brown;
    color: white;
    position: relative;

}